@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-green: #22c55e;
  --color-brand-blue: #1e3a8a;
  --color-brand-gradient: linear-gradient(to right, #22c55e, #1e3a8a);
}

body {
  @apply bg-slate-50 text-slate-900;
}
